

div.mainDrawArea {
    border: 1px solid #FFFFFF;
    position:relative;
    width:95vw;
    height:56.25vw;

}

div.widgetBase {
    border: 1px solid #00FF00;
    position: absolute;
}