

div.mainDrawArea {
    border: 1px solid #FFFFFF;
    position:relative;
    width:98vw;
    height:56.25vw;

}

div.widgetBase {
    border: 1px solid #444444;
    position: absolute;
}

img.camera {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}