

div.mainDrawArea {
    border: 1px solid #FFFFFF;
    position:relative;
    height:56.25vw;

}

div.widgetBase {
    border: 1px solid #222222;
    position: absolute;
    box-shadow: 0px 0px 1vw 1vw #111111;
    -webkit-box-shadow: 0px 0px 1vw 1vw #111111;
    -moz-box-shadow: 0px 0px 1vw 1vw #111111;

}

img.camera {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div.iconGraphic {
    width:96%;
    height:96%;
    position:relative;
    top:2%;
    left:2%;

}