topLevelContainer {
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
}



buttonsContainer {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
}


buttonGroup {
    flex-grow: 1;
}

dataContainer{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

plotsContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;  
}

signalListContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 0;  
    width:250px;
}

selectableSignalContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;  
    width:100%;
}

.selectableSignal{
    flex-direction: row;
    flex-grow: 0;  
    width:auto;
    height:auto;
    text-align: left;
    font-family: monospace;
    margin:4px 1px;
    padding: 2px;
}


plot {
    display: flex;
    flex-direction: row;
    flex-grow:1;
    min-height: 250px;
    max-height: 600px;
}

plotHighchartsContainer {
    flex-grow:1;
    background-color: #151515;
}

plotSignalInfoContainer {
    display: flex;
    flex-direction: column;
    flex-grow:0;
    font-family: monospace;
    width: 250px;
}

plottedSignalInfo {
    display: flex;
    flex-direction: row;
    flex-grow:0;
    height:25px;
}

plottedSignalName {
    flex-direction: column;
    flex-grow:1;
}

plottedSignalUnits {
    flex-direction: column;
    flex-grow:0;
    width: 50px;
}

plottedSignalValue {
    flex-direction: column;
    flex-grow:0;
    width: 75px;
}

chartDrawDiv {
    position:absolute;
    width:1;
    height:1;
}


.expandable {
    flex-grow: 1;
}

input.filterTextInput{
    width:95%;
    margin:1px;
    flex-grow:0;

}


.drag-over{
    border: 1px solid #FFFF00;
}
